$white: #ffffff;
$black: #000000;
$black1: #161616;
$grey: #fafafa;
$grey1: #e5e5e5;
$grey2: #666666;
$grey3: #989898;
$grey4: #949494;
$grey5: #717171;
$grey6: #818181;
$lightgrey: #f5f5f5;
$lightgrey1: #f5f6f8;
$lightgrey2: #f8f8f8;
$lightgrey3: #f3f4f8;
$red: #d22e2e;
$blue: #4496f6;
$blue1: #347db8;
$blue2: #3445fa;
$blue-opacity: rgba(52, 125, 184, 0.3);
