*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.container {
  @include offset(0, 0 16px);

  @media (min-width: $tablet-width) {
    @include offset(0, 0 24px);
  }

  @media (min-width: $desktop-width) {
    @include offset(0, 0 40px);
  }
}
